.chatbot-btn {
  display: block;
  position: fixed;
  bottom: 40px;
  z-index: 10;
  right: 40px;
  cursor: pointer;
  scale: 1;
  transition: transform 1.4s linear;
}

.chatbot-btn :hover {
  transform: scale(0.8);
}
.chatbot-btn :active {
  transform: scale(1.2);
}

.chatbot-container {
  display: block;
  position: fixed;
  bottom: 40px;
  margin: 60px 0;
  right: 40px;
  z-index: 999;
}

.chatbot-header {
  background-color: #efefef;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}
.chatbot-header-btn {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}

.react-chatbot-kit-chat-container {
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px;
  opacity: 0;
  animation: 0.6s fadeIn ease-in forwards;
}

/*************************/
@media screen and (max-width: 600px) {
  .react-chatbot-kit-chat-inner-container,
  .react-chatbot-kit-chat-container {
    height: 100% !important;
    width: 100% !important;
  }
  .chatbot-container {
    margin: 0;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
