.player-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.player-content {
  width: 50%;
}

.player-content video {
  padding: 0 10px 10px 10px;
}

@media screen and (max-width: 1024px) {
  .player-container {
    justify-content: center;
  }
  .player-content {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .player-content {
    width: 100%;
  }
}
