body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./styles/Chatbot.css";
@import "./styles/Options.css";
@import "./styles/LinkList.css";
@import "./styles//Drawer.css";
@import "./styles/Home.css";
@import "./styles/MainLayout.css";
@import "./styles/Header.css";
@import "./styles/Banner.css";
@import "./styles/Player.css";
@import "./styles/SectionTitle.css";
@import "./styles/Footer.css";
